:root {
  --primary: #424242;
  --secondary: #fff;
}
section {
  padding: 20px 0;
}

.title {
  text-align: center;
  padding: 20px 0;
  text-transform: capitalize;
}

/* Hero */
#hero {
  position: relative;
  text-align: center;
  color: var(--secondary);
  padding: 0;
}

#hero span {
  font-size: 8rem;
}

.hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-title p {
  font-size: 2rem;
  margin-bottom: 20px;
}

.hero-btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 9px;
}

.btn {
  padding: 5px;
}

.quote {
  background: var(--primary);
  border-radius: 15px;
}

.sample {
  border: 2px solid var(--primary);
  border-radius: 15px;
}

/* talents */
.jingles,
.instrumentals,
.voiceOver {
  position: relative;
  text-align: center;
  padding: 0;
  color: var(--secondary);
}

.talents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: inherit;
  grid-gap: 30px;
}

.talent h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Brands */
#brands {
  background: var(--primary);
  color: var(--secondary);
}
.brands {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: inherit;
  grid-gap: 10px;
  padding-bottom: 40px;
}

.brand {
  display: grid;
}

.brand svg {
  margin: 0 auto;
  font-size: 3.5rem;
  /* color: var(--secondary); */
}

/* Why us? */
.whys {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: inherit;
  grid-gap: 10px;
  padding-bottom: 20px;
}

.why {
  text-align: center;
}

/* MEDIA */
@media (max-width: 390px) {
    .hero-btns{
        padding-bottom: 27px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  #hero span {
    font-size: 6rem;
  }

  .hero-title p {
    font-size: 1.5rem;
  }

  .brands {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: inherit;
    grid-gap: 30px;
    padding-bottom: 20px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .talents {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: inherit;
    margin: 0 25px;
  }

  .whys {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}
