section {
  padding: 20px 0;
}

h1 {
  font-size: 8rem;
}

/* Hero */
#hero {
  position: relative;
  text-align: center;
  color: white;
  padding: 0;
}

.hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-title p{
    font-size: 2rem;
    margin-bottom: 20px;
}

.btn {
  padding: 20px;
  background: blue;
  border-radius: 5%;

}

/* skills */
.skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: inherit;
  grid-gap: 10px;
}

/* Brands */
#brands {
  background: red;
}
.brands {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: inherit;
  grid-gap: 10px;
}

/* Why us? */
.whys {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: inherit;
  grid-gap: 10px;
}
