*{
    margin: 0%;
    padding: 0;
}

:root {
    --space: 1.5em 0;
    --space: 2em 0;
}

.Site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Site-content {
    flex: 1 0 auto;
    padding: var(--space) var(--space) 0;
    width: 100%;
}

.Site-content:after {
    content: '\00a0';
    display: block;
    margin-top: var(--space);
    height: 0;
    visibility: hidden;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
}

.container{
    max-width: 960px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: #fff;
}

img{
    width: 100%;
}

section {
    padding: 20px 0;
  }
  
  .title {
    text-align: center;
    padding: 20px 0;
    text-transform: capitalize;
  }